# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Frontend
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
# Vite-specific assets (we copy public assets to src/assets) just for development
frontend/src/assets

# Backend
backend/.venv
# Python bytecode cache - ignore at all levels
**/__pycache__/
*.py[cod]
*$py.class
*.so


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*



# Editor directories and files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
